<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<form action="#" th:action="@{/angi/export}" method="get">
    <input type="date" name="DATE_ACTIVE_FROM"/>
    <input type="date" name="DATE_ACTIVE_TO"/>
    <input type="text" name="q" placeholder="">
    <p><label>enail: </label><input type="text" name="email" placeholder=""></p>
    <p><input type="submit" value="Submit"/></p>

</form>
</body>
</html>