<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<form action="#" method="get" th:action="@{/angi/export}">
    <input name="DATE_ACTIVE_FROM" type="date"/>
    <p><label>email: </label><input name="email" placeholder="" type="text"></p>
    <p><input type="submit" value="Submit"/></p>

</form>
</body>
</html>